<app-header *ngIf="!(_router.url === '/pages-register' || _router.url === '/pages-login'|| _router.url==='/login-user'|| _router.url==='/register-user')"></app-header>
<app-sidebar *ngIf="!(_router.url === '/pages-register' || _router.url === '/pages-login'|| _router.url==='/login-user'|| _router.url==='/register-user')" ></app-sidebar>
<router-outlet></router-outlet>
<app-footer *ngIf="!(_router.url === '/pages-register' || _router.url === '/pages-login'|| _router.url==='/login-user'|| _router.url==='/register-user')"></app-footer>

