<aside id="sidebar" class="sidebar">
   <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item"> <a class="nav-link " routerLink="/dashboard"> <i class="bi bi-grid"></i>
            <span>Dashboard</span> </a></li>
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#"> <i
               class="bi bi-menu-button-wide"></i><span>Utilisateurs</span><i class="bi bi-chevron-down ms-auto"></i>
         </a>
         <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/users"> <i class="bi bi-circle"></i><span>compte Utilisateurs</span> </a></li>
         </ul>
      </li>
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-toggle="collapse" routerLink="/profile"> <i
               class="bi bi-journal-text"></i><span>Profiles</span> </a>
      </li>
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#"> <i
               class="bi bi-layout-text-window-reverse"></i><span>Agences</span><i
               class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/tables-data"> <i class="bi bi-circle"></i><span>Data Tables</span> </a></li>
         </ul>
      </li>
      <li class="nav-heading">Pages</li>
      <li class="nav-item"> <a class="nav-link collapsed" routerLink="/user-profile"> <i class="bi bi-person"></i>
            <span>Profile</span> </a></li>
      <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-faq"> <i class="bi bi-question-circle"></i>
            <span>F.A.Q</span> </a></li>
      <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-contact"> <i class="bi bi-envelope"></i>
            <span>Contact</span> </a></li>
      <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-register"> <i class="bi bi-card-list"></i>
            <span>Register</span> </a></li>
      <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-login"> <i
               class="bi bi-box-arrow-in-right"></i> <span>Login</span> </a></li>
   </ul>
</aside>